*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about-body{
    background-image: url("/images/index2.jpg");
    background-size: cover;
    position: relative;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    object-fit: contain;
}


.about-content{
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin-bottom: 10px;
}
.about-content .about-text{
    color: #0b3013;
    background-color: #b6f7b6;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: 0px;
    /* margin-left: 100px; */
}
.about-content .about-text h2{
    font-size: 90px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.about-text i{
    font-size: 80px;
    font-weight: light;
    margin-left: 25px;
}
.about-text p{
    font-size: 75px ;
    margin-top: 30px;
}

.history
{
    /* margin-top: 10px; */
    /* background-color: #99bba0; */
    color: #0b3013;
    height: 60vh;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    
}
.history h1{
    font-size: 80px;
    font-weight: 600;
    font-family: 'Popinns', sans-serif;
    text-shadow: #0b3013;
    color: #b5ddbf;
    margin-top: 300px;
    
}

.history .column{
    justify-content: space-between;
    display: flex;
    margin-top: 200px;
    margin-right: 200px;
    /* margin-bottom: 300px; */
    /* background-color: #d8edd8; */
    
}


  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 75%;
    margin-left: -2.5px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    background-color: #b5ddbf;
    border: 4px solid #0b3013;
    top: 15px;
    border-radius: 50%;
    z-index: 2;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color:#b5ddbf;
    position: relative;
    border-radius: 6px;
  }
  
 
#whatwedo {
    justify-content: center;
    /* display: flex; */
    align-items: center;
    margin: auto;
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
}
#whatwedo .column{
    float: left;
    width: 30%;
    background-color: #b6f7b6;
    height: 60vh;
    width: 30vw;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: black;
    border: #0a3615;
    /* margin-top: 30px; */

}
#whatwedo .column h1{
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-size: 25;

}
#whatwedo .column p{
    text-align: justify;
    padding: 40px;
    font-size: 18px;
}
#whatwedo .row{
    /* margin-left: 5%; */
    justify-content: space-between;
}
#whatwedo .row::after {
    content: "";
    display: table;
    clear: both;
}
#whatwedo .moto img{
    width: 4%;
    /* height: 1%; */
    border-radius:50%;
}
#whatwedo .moto h1{
    font-size: 130px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(/images/solution3.jpg);
    object-fit: cover;
    height: 40vh;
    color: #0a3615;
}
#whatwedo .mission h1{
    justify-content: center;
    /* display: flex; */
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Poppins', serif;
    font-size: 60px;
    font-weight: bold;
}
#whatwedo .mission p{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 30px;
}
#whatwedo .mission{
    width: 800px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

 /* Media queries - Responsive timeline on screens less than 600px wide */
@media only screen and (max-width: 600px) {
  
    #about-body{
      background-size: auto;
      position: relative;
      
      object-fit: fill;
  }


   
    .about-content .about-text{
      height: 20vh;
    }
    .about-content .about-text i{
      font-size: 30px;
    }
    .about-content .about-text h2{
      font-size: 20px;
    }
    #about-body .history h1{
      font-size: 15px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: auto;
      /* margin-top: 50px; */

    }
    .history h1{
      font-size: 15px;
      margin-left: 400px;
      margin-top: 10px;
    }
    .timeline {
      max-width: 200px;
    }
    .timeline::after {
      left: 31px;
    }
    .history .column{
      max-width: 300px;
    }
    .timeline .content h2{
      font-size: 10px;
    }
    .timeline .content p{
      font-size: 8px;
    }
  
  /* Full-width containers */
    .container {
      width:350px;
      padding-left: 70px;
      padding-right: 25px;
      
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
   
    #whatwedo .row .column{
        float: left;
        height: 40vh;
        width: 350px;
        margin: 20px;
       
    
    }
    #whatwedo .column h1{
      font-size: 20px;
      margin-bottom: 10px;
  
  }
  #whatwedo .column p{
    padding: 20px;
    font-size: 10px;
  }

  #whatwedo .moto h1{
    font-size: 30px;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    object-fit: cover;
    height: 20vh;
    color: #0a3615;
}
  #whatwedo .mission h1{
      
      margin-bottom: 20px;
      font-size: 25px;
  }
  #whatwedo .mission p{
    font-size: 15px;
  }
  #whatwedo .mission{
      width: 200px;
      
  }





      
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
      #about-body{
        margin-bottom: 10px;
        
    }


    
      .about-content .about-text{
        height: 20vh;
      }
      .about-content .about-text i{
        font-size: 40px;
      }
      .about-content .about-text h2{
        font-size: 30px;
      }
      #about-body .history h1{
        font-size: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: auto;
        /* margin-top: 50px; */

      }
      .history h1{
        font-size: 20px;
        margin-left: 400px;
        margin-top: 10px;
      }
      .timeline {
        max-width: 200px;
      }
      .timeline::after {
        left: 31px;
      }
      .history .column{
        max-width: 300px;
      }
      .timeline .content h2{
        font-size: 20px;
      }
      .timeline .content p{
        font-size: 12px;
      }

    /* Full-width containers */
      .container {
        width:400px;
        padding-left: 70px;
        padding-right: 25px;
        
      }

    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }

    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }

    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
    
      #whatwedo .row .column{
        margin-top: 10px;
          float: left;
          height: 40vh;
          width: 350px;
          margin: 20px;
        
      
      }
      #whatwedo .column h1{
        font-size: 20px;
        margin-bottom: 10px;

    }
    #whatwedo .column p{
      padding: 20px;
      font-size: 10px;
    }

    #whatwedo .moto h1{
      font-size: 40px;
      max-width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      object-fit: cover;
      height: 20vh;
      color: #0a3615;
    }
    #whatwedo .mission h1{
      
      margin-bottom: 20px;
      font-size: 30px;
    }
    #whatwedo .mission p{
    
      font-size: 20px;
    }
    #whatwedo .mission{
      width: 700px;
      
    }

}

