*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
.col h1{
    margin-left: 35%;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bold;
    /* margin-right: 50%; */

}
#intro{
    margin-top: 60px;
}
#intro .col{
    
    width: 50%;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #214023;
}


#first-sem  .card {
    width: 20rem;
    height: 600px;
    background-color: transparent;

    border: 0;
}
#second-sem .card {
    width: 20rem;
    height: 600px;
    background-color: transparent;

    border: 0;
}
#first-sem  .card img{
    height: fit-content;
}
#second-sem .card img{
    height: fit-content;
}
#first-sem .card h2{
    position: absolute;
    margin-top: 42%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(to top,rgba(14, 61, 4, 0.932),rgba(118, 126, 116, 0.932)); */
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 12vh;
}
#second-sem .card h2{
    position: absolute;
    margin-top: 42%;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(to top,rgba(14, 61, 4, 0.932),rgba(118, 126, 116, 0.932)); */
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    height: 12vh;

}
#first-sem  .card button{
    position: absolute;
    /* background-color: transparent; */
    margin-left: 55px;
    margin-top: 60%;
    width: 200px;
    border-color: white;
    border-radius: 20px;
    height: 40px;
    color: white;
    background: rgb(9, 82, 15);
    background: rgba(0, 0, 0, 0.5);
    
}
#second-sem  .card button{
    position: absolute;
    /* background-color: transparent; */
    margin-left: 55px;
    margin-top: 60%;
    width: 200px;
    border-radius: 20px;
    border-color: white;

    height: 40px;
    color: white;
    background: rgb(9, 82, 15);
    background: rgba(0, 0, 0, 0.5);
    
}
#first-sem{
    margin-bottom: 10px;
}
#first-sem  .row{
    justify-content:space-around;
    margin: auto;
    align-items: center;
    /* 
    margin: 10%; */
}
#second-sem {
    margin-top: 0;
}
#second-sem  .row{
    justify-content:space-around;
    margin: auto;
    align-items: center;
    
}
#first-sem h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    color: #214023;
    /* text-decoration: underline; */
}
#second-sem h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    color: #214023;
    /* text-decoration: underline; */
}
#first-sem  .card-body button{
    background-color: #214023;
    color:#d8edd8 ;
    width: 100px;
    height: 30px;
    padding: auto;
    border-radius: 10px;
    box-shadow: #214023;

}
#second-sem  .card-body button{
    background-color: #214023;
    color:#d8edd8 ;
    width: 100px;
    height: 30px;
    padding: auto;
    border-radius: 10px;
    box-shadow: #214023;

}
#first-sem .card-body .reg:hover{
    color: #214023;
    background-color: #d8edd8;
}
#second-sem .card-body .reg:hover{
    color: #214023;
    background-color: #d8edd8;
}
#first-sem .card-body h2{
    font-family: 'Poppins', sans-serif;
    color:#214023;
    font-weight: bold;

}



/* GALLERY*/
#gallery {

}

#gallery .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
#gallery .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
#gallery .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    #gallery .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    #gallery .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  