*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    margin: 0;
    padding: 0;
   background-color: #d8edd8;
}

/* header */
#header img{
    position: relative;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 10px;
    height: 80px;
    width: 80px;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:#0b3013;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    font-style:inherit;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

    
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #d8edd8;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:white;
}

#navbar li a.active ::after,
#navbar li a:hover ::after{
    content: "";
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#mobile{
    display: none;
    align-items: center;
}




#home-body{
    background-image: linear-gradient(to right,rgba(2, 19, 5, 0.932),rgba(0, 0, 0, 0)), url("/images/index.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}  

#home-body{
    /* color: white; */
    padding-top: 12%;
}
.home-content h1{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    color: #b6f7b6;
    margin-left: 40px;
    max-width: 1300px;
    background: linear-gradient(to right, rgba(2, 19, 5, 0.932));
}

#home-body h3{
    padding-top: 30px;
    margin-left: 40px;
    font-family: 'Poppins', serif;
    font-size: 50px;
}

#home-body h2{
    margin-left: 40px;

    font-family: 'Poppins', serif;
    font-size: 50px;
    color: white;
}
#home-body h5{
    padding-top: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300px;
}

#home-body .home-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    color:#0b3013;
    height: 500px;
    width: 100%;
   

}

#home-body button{
    background:#b6f7b6;
    border: none;
    width: 15%;
    color: #0b3013;
    list-style: none;
    position: relative;
    border-radius: 50px;
    margin-inline: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: block;
    padding: 10px;
    
}




#about{
    background-color:#d8edd8;
    /* text-align: center; */
    color: black;
}
#about h1{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 80px;

}
#about .card img{
    width: 40%;
    margin-top: 10px;
}
#about .card{
    transition: 0.3s;
    width: 20%;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    background: transparent;
    border: none;

}
#about .card .container{
    padding: 2px 16px;
}
#about button{
    width: 200px;
    border: none;
    border-radius: 50px;
    text-decoration:none ;
    background-color: #0b3013;
    color: #b6f7b6;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}


/* stats */

.stats-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background-color: #c0e2c0;
}

.stats-container .stats-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}

.stats-cards .stats-card {
    width: 250px;
    min-height: 250px;
    /* border: 1px solid #c85103; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
    border-radius: 0.75em;
    box-shadow: 0 0.25em 1em rgba(128, 128, 128, 0.226);
    background-color: #b6f7b6;
}

.stats-card img{
    width: 30%;
    filter: drop-shadow(0 2px 4px #c852034f);
}
.stats-card p {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    font-size: 1em;
}
.stats-card p span{
    font-weight: bold;
    color: #0b3013;
    font-size: 35px;
}

.stats-card .numbers {
    font-size: 2.5em;
    font-weight: bold;
}

.stats-container h2 {
    font-size: 1em;
    color: #0b3013;
    font-size: 20px;
}



.stats-card:hover {
    animation: transform 3s ease-in-out infinite;
}

@keyframes transform {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }




/* footer */
#footer-service h6{
    color: white;
    font-weight: bold;
    font-family:  'Poppins', sans-serif;
}
#footer-service p{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.social-links a{
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    align-items: flex-end;
    
    

}